@import "../../styles/mixins";

.profile {
  padding: 50px 0 0;
  display: grid;
  place-items: center;
  min-height: 100%;
  min-width: 410px;

  @include mobile {
    min-width: 260px;
  }

  &__title {
    margin: 0 0 100px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    @include mobile {
      margin: 0 0 60px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      max-width: 260px;
    }
  }

  &__formFields {
    width: 100%;
    max-width: 410px;
    margin: 0 0 200px;

    @include mobile {
      margin: 0 0 355px;
    }
  }

  &__formField {
    padding: 17px 0;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      border-bottom: 1px solid #e8e8e8;
    }
  }

  &__fieldText {
    margin: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
  }

  &__input {
    border: none;
    text-align: right;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  &__btn {
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font-size: 13px;
    line-height: 16px;

    &_disable {
      opacity: 0.2;
    }
  }

  &__logout {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #ee3465;
  }
}
