.checkbox {
  position: relative;
  width: 36px;
  height: 20px;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__label {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 4px rgb(50 50 71 / 8%), 0 4px 8px rgb(50 50 71 / 6%);
    border-radius: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #2be080;
      transition: all 0.2s linear;
    }

    &_checked::before {
      right: 50%;
    }
  }
}
